{{define "content"}}
    <div class="container" style="justify-content: center;">
        <div class="main-menu">
            <div class="row">
                <div class="columns col-md-12 text-center">
                    <h2>Url shorterer demo</h2>
                    <p>Manage and save your personal web links using url shorterer service</p>
                </div>
            </div>
            <div class="row" style="">
                <div class="col-md-12">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your links</span>
                        <span id="totalLinks" class="badge badge-secondary badge-pill">0</span>
                    </h4>
                    <ul id="linksList" class="list-group mb-3">
                        <li class="list-group-item link-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="link.name my-0">link.name</h6>
                                <small class="link.shortUrl text-muted">link.shortUrl</small>
                            </div>
                            <span class="link.createdAt text-muted">link.createdAt</span>
                        </li>
                    </ul>

                    <form class="card p-2">
                        <div class="input-group" style="max-width: 50%;padding: 0 0 10px;">
                            <input id="linkName" type="text" class="form-control" placeholder="[Optional] Link name">
                        </div>
                        <div class="input-group">
                            <input id="linkTargetUrl" type="url" required class="form-control"
                                   placeholder="Paste a link to shorten it">
                            <div class="input-group-append">
                                <button id="submit" type="button" class="btn btn-secondary">Shorten</button>
                            </div>
                        </div>
                    </form>
                    <div id="shortenLinkWrapper" class="alert alert-primary fade show" style="display: none"
                         role="alert">
                        <strong>Congratulations!</strong>
                        <p>Your link was created. Give it a click to try.</p>
                        <a id="shortenLink" href="#" target="_blank" class="alert-link">http://localhost:8080/api/213224bf03bc6e109a612120128907bc</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{ define "scripts" }}
    <script type="text/javascript">
        (() => {
            window.links = []

            document.getElementById('submit').addEventListener("click", () => {
                let txtLinkName = document.getElementById("linkName"),
                    txtLinkTargetUrl = document.getElementById("linkTargetUrl");
                let shortenLinkWrapper = document.getElementById('shortenLinkWrapper'),
                    shortenLink = document.getElementById('shortenLink')

                let linkData = {
                    name: txtLinkName.value,
                    targetUrl: txtLinkTargetUrl.value
                }

                shortenLinkWrapper.style.display = "none"

                fetch("/api/urls", {
                    method: 'POST',
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(linkData)
                })
                    .then(status)
                    .then(json)
                    .then((data) => {
                        data.createdAt = (new Date(unixNanoToUnix(data.createdAt))).toString()
                        data.updatedAt = (new Date(unixNanoToUnix(data.updatedAt))).toString()
                        window.links.push(data)

                        txtLinkName.value = txtLinkTargetUrl.value = ''

                        shortenLink.innerText = data.name || data.shortUrl
                        shortenLink.setAttribute("href", data.shortUrl)

                        shortenLinkWrapper.style.display = "block"
                        refreshLinks()
                        return data
                    })
                    .catch((reason) => {
                        alert("error: " + JSON.stringify(reason))
                    })
            })

            function status(response) {
                if (response.status >= 200 && response.status < 300) {
                    return Promise.resolve(response)
                } else {
                    return Promise.reject(new Error(response.statusText))
                }
            }

            function json(response) {
                return response.json()
            }

            function unixNanoToUnix(num) {
                return parseInt(num / Math.pow(10, 9))
            }

            function refreshLinks() {
                let ulLinksList = document.getElementById("linksList"),
                    spanTotalLinks = document.getElementById('totalLinks'),
                    liLinkItem = document.getElementsByClassName('link-item')[0]

                spanTotalLinks.innerHTML = window.links.length
                // window.links.map(link => {
                //     let linkNode = liLinkItem.cloneNode()
                //     ['name', 'shortenUrl', 'createdAt'].forEach(key => {
                //         linkNode.getElementsByClassName('link.' + key)[0].innerHTML = link[key]
                //         if (link[key] === '') {
                //             linkNode.getElementsByClassName('link.' + key)[0].style.visibility = 'hidden'
                //         }
                //     })
                //
                //     ulLinksList.appendChild(liLinkItem)
                // })
                //
                // ulLinksList.childNodes.forEach(n => n.remove())
            }
        })()
    </script>
{{end}}
{{ define "styles"}}
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.css"/>
{{end}}
