<header class="row" style="justify-content: center;">
    <div class="logo-container" style="display: inline-block;">
        <div class="logo"></div>
        <h1>Bluefield test task</h1>
    </div>
</header>